<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="Luncher"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.Luncher"
        android:exported="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
            android:theme="@style/Theme.Luncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- This is what makes it a selectable "launcher" (home screen replacement) -->
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>
</manifest>
